body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

select[readonly] {
    background: #eee;
    pointer-events: none;
    touch-action: none;
}

.mt-6 {
    margin-top: 4rem !important;
}

#form-content {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #fff;
    width: 100%;
    position: relative;
    padding: 0;
    -webkit-box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.3);
    box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.3);
    text-align: center;
}
/*TODO: ajustar responsividade*/
.acoes-usuario {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #fff;
    padding: 0;
    -webkit-box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.3);
    box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.3);
    text-align: center;
    height: fit-content;
}

.profile-action-button {
    text-align: start;
}

.fieldset-content > legend {
    text-align: start;
}

div > h6 {
    text-align: start;
}

div > label {
    text-align: start;
    align-items: center;
}

.overflow-x {
    overflow-x: auto;
}
