<!DOCTYPE html>
<html th:lang="${#locale}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{layout :: layout (~{::title}, ~{::main}, ~{::styles}, _)}">
<head>
  <title>[[#{login.title}]]</title>
  <th:block th:fragment="styles">
    <link th:rel="stylesheet" th:href="@{/css/login.css}"/>
  </th:block>
</head>
<body>

<main>
  <div class="login-box">
    <div class="card" id="form-content">
      <div class="card-block login-block">
        <form name="f" th:action="@{/login}" method="post">
          <fieldset>

            <!-- Thymeleaf + Spring Security error display -->
            <div th:if="${param.error}" class="alert alert-danger">
              Usuário ou senha inválidos.
            </div>

            <div th:if="${param.logout}" class="alert alert-success">
              Você fez logout.
            </div>

            <!-- Login Controls -->
            <div class="mb-3">
              <input type="text" class="form-control" id="username" name="username"
                     placeholder="Usuário">
            </div>

            <div class="mb-3">
              <input type="password" class="form-control" id="password" name="password"
                     placeholder="Senha">
            </div>

            <div class="mb-3">
              <input type="checkbox" class="form-check-input" id="remember-me" name="remember-me">
              <label class="form-check-label" for="remember-me" th:text="#{login.form.rememberMe}"></label>
            </div>

            <!-- Login Button -->
            <div class="form-actions login-actions">
              <button type="submit" class="btn btn-success" th:text="#{login.form.button}"></button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</main>

</body>
</html>